body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}
label {
    font-weight: bold;
}
.ui-dropdown-filter-container {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}
.col-valor-header {
  width: 120px;
}
  .col-valor {
    text-align: right !important;
  }

  .col-data-header {
    width: 120px;
  }

  .col-data {
    text-align: center !important;
  }

  .col-acoes-header {
    width: 115px;
  }

  .col-acoes {
    width: 115px;
    text-align: center !important;
  }

  .col-acoes .p-button {
    margin: 1px;
  }

  .p-button {
    margin-right: .25em;
  }

  .p-inputtext {
    width: 100%;
  }